.wrapper {
  display: flex;
}

/*---------------サイドバー-------------------*/

.side_bar {
  width: 300px;
  background-color: #253141;
  height: 100vh;
}

.side_bar_header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_name a {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.create_room {
  font-size: 10px;
}

.create_room a {
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.rooms {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room_name a {
  color: white;
  text-decoration: none;
}

/*-----------------サイドバーここまで-------------------*/

/*---------------チャットメイン------------------------*/

.chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat_header {
  height: 100px;
  padding: 0 40px;
}

.messages {
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.form {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}

/*-----------------チャットメインここまで---------------------*/